yolov5_detector_node:
  ros__parameters:
    image_topic: /camera/color/image_raw
    weights_path: ""
    class_names_path: ""
    confidence_threshold: 0.4
    iou_threshold: 0.45
    use_cuda: false
    publish_annotated_image: true
    annotated_topic: /camera/color/yolov5_annotated
    publish_center_offsets: true
    center_topic: /camera/color/yolov5_center_offset
    class_allowlist:
      - person
      - bottle
      - cup
      - bowl
      - wine glass
      - fork
      - knife
      - spoon
      - bowl
      - banana
      - apple
      - sandwich
      - orange
      - broccoli
      - carrot
      - hot dog
      - pizza
      - donut
      - cake
      - chair
      - couch
      - potted plant
      - bed
      - dining table
      - toilet
      - tv
      - laptop
      - mouse
      - remote
      - keyboard
      - cell phone
      - microwave
      - oven
      - toaster
      - sink
      - refrigerator
      - book
      - clock
      - vase
      - scissors
      - toothbrush
    unknown_label: unknown
